
main{
    width: 111.1rem;
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title__container{
    padding-block-end: unset;

    border-bottom: none;
}
.header__darkmode_container{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    padding-block-start: unset;
}
.generalOverview__card{
    max-width: 26rem;
}
.main__todayOverview{
    justify-content: center;
}
.todayOverview__card{
    max-width: 26rem;
}
